.heading {
  display: flex;
  justify-content: space-between;
  padding: 12px 48px;
  gap: 20vw;
}

.noteName {
  flex: 1;
  padding: 0;
  font-size: var(--ifm-h1-font-size);
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

.noteNamePointer {
  cursor: pointer;
}

.noteNameText {
  display: flex;
  align-items: baseline;
  margin: 1px 0 0 2px;
}

.hidden {
  display: none;
}

.fontSize {
  font-size: small;
}
